.light {
  width: 100px;
  height: 100px;
  margin: 0;
  background: transparent;
  border-top: 7px solid #081F4A;
  border-right: 7px solid transparent;
  border-radius: 50%;
  border-bottom-color: black;
  border-radius: 50%;
  -webkit-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite;
}

.dark {
  width: 100px;
  height: 100px;
  margin: 0;
  background: transparent;
  border-top: 7px solid #FFEA00;;
  border-right: 7px solid transparent;
  border-radius: 50%;
  border-bottom-color: #FFEA00;
  border-radius: 50%;
  -webkit-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
